*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Inter";
    src: url(fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

body{
    background-color: #0A0C1B;
}

.container{
    width: 100%;
    padding-top: 177px;
    font-family: "Inter";
}

.card{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    background-color: #1C1938;
    display: flex;
    border-radius: 5px;
}

.purple_text{
    color: #A75DD7;
}


.left_side{
    margin: 75px 75px 70px 75px;
}

.left_side>h1{
    color: #fff;
    padding-right: 80px;
}

.description{
    margin: 30px 0;
    color: #A9A8BA;
    padding-right: 80px;
    font-size: 1rem;
}

.d_flex{
    display: flex;
    gap: 80px;
}

.contain_service{
    margin: 45px 0 0 0;
}

.total{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
}

.detail{
    color: #A9A8BA;
    font-size: 0.75rem;
    padding-top: 5px;
}


.right_side{
    width: 100%;
    height: 450px;
    /* max-width: 540px; */
    background: url(images/image-header-desktop.jpg);
    filter: grayscale(100%) brightness(30%) sepia(90%) hue-rotate(-125deg) saturate(800%) contrast(0.7);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 5px 5px 0 ;
}

.img-header{
    width: 100%;
}

.attribution{
    color: #fff;
    text-align: center;
    margin-top: 30px;
}

@media only screen and (max-width: 600px){
    .card{
        width: 100%;
        max-width: 300px;
        flex-direction: column-reverse;
    }

    .right_side{
        height: 213px;
        border-radius: 5px 5px 0 0;
    }

    .left_side{
        margin: 30px;
        text-align: center;
    }

    .left_side>h1{
        padding: 0;
        font-size: 1.5rem;
    }

    .description{
        padding: 0;
        text-align: center;
    }

    .d_flex{
        flex-direction: column;
        gap:0;
    }
}

